.fst-italic{
    display: flex;
    text-align: justify;
}
.col-8>.fst-italic{
    display: flex;
    text-align: justify;
}
body{
    background-color: azure;
}
.mno{
    background-image: url("./Images/signup.jpg");
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    backdrop-filter: blur(3px);
  
    background-size: 1500px;
    height: 690px;
  
}
.kl{
    display: inline-block;
    opacity: 50%;
   
}

.lo{

    border: 2px;
    border-style: solid;
    border-radius: 10%;
    border-color: black;
    height: 350px;
}